.mainScreen{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background-color: rgb(222, 171, 43);
}
h1{
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 20px;
}
.header{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 25px;
    padding: 0px 20px;
    width:  60%;
    top: 25%;
}
.monthSelect{
    justify-content: space-between;
    display: flex;
    width:  100%;
}

.monthSelect > button{
    justify-content: space-between;
    font-size: 30px;
    background: none;
    border: none;
}
.calendar{
    cursor: pointer;
    position: absolute;
    box-sizing: border-box;
    top: 45%;
    font-size: 20px;
    width: 70%;
    table-layout: fixed;
    border-spacing: 20px 20px;
}

.sunday{
    color: red;
}
.saturday{
    color: blue;
}
.today{
    background-color: darkgreen;
}
.selected{
    background-color: rgba(164, 69, 37, 0.564);
    border-radius: 30%;
}