body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.body{
    width: 70%;
    height: 75vh;
    border: 1px solid black;
}
.header{
    width: 60%;
    padding: 5% 5% 0 5%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.date{
    font-size: 300%;
    padding-right: 10px;
}
.day{
    font-size: 120%;
}
.date-column{
    display: flex;
    align-items: center;
}
.add-items{
    position: absolute;
    bottom: 13%;
    background-color: white;
}
.container{
    padding: 15% 5% 0 5%;
    overflow-Y: auto;
    height: 80%;
}
.todo-list{
    text-align: left;
    list-style: none;
}
.todo-list li{
    padding: 10px 0;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}
.todo-list button{
    padding-left: 20px;
}
.add-items input[type=text]{
    text-align: left;
}